.flex{
    display: flex;
}
.grid{
    display: grid;
}
.justify-center{
    justify-content: center;
}
.text-center{
    text-align: center;
}
.mg-center{
    margin: 0 auto;
}

.w-100{
    width: 10rem;
}
.h-100{
    height: 10rem;
}